<div id="hide">
  <h1>Welcome, <%= current_user.username %>!</h1>


<br>
<br>
<br>
<br>
  <div class="surveys_created">
    <h2>Surveys you created:</h2>
      <% current_user.surveys.each do |survey| %>
      <ul class="survey_titles">
        <li><%= survey.title %>
          <a href='<%= survey.url %>'>
          <span id="view">View</span></a>
          <a href='/survey_edit/<%= survey.id %>'>
          <span id="edit">Edit</span></a>
          <a href='/survey_delete/<%= survey.id %>'>
          <span id="delete">Delete</span></a>
          <a href='/survey_stats/<%= survey.id %>'>
          <span id="stats">Stats</span></a></li>
      </ul>
      <% end %>
  </div>


<div class="surveys_created ">
  <h2>Surveys you have taken:</h2>
    <% if current_user.submissions != nil %>
        <% current_user.submissions.each do |submission| %>
            <ul class="survey_titles">
              <li><%= submission.survey.title %></li>
            </ul>
        <% end %>
    <% else %>
      <ul class="survey_titles">
              <li>You have not taken any surveys!</li>
      </ul>
    <% end %>
</div>
</div>
<div id="show_the_stats" style="display: hidden"></div>
